body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: courier-new, monospace;
}

#calc-container {
    border: 1px solid black;
    margin-top: 50px;
    padding: 15px 15px;
}

#display-box {
    border: 1px solid black;
    margin: 10px 10px;
    text-align: center;
    padding: 5px 5px;
}

#top-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 8px 8px;
}